body {
    font-size: 20px;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}
h1 {
    font-size: 42px;
    color: darkgreen;
}
h2{
    line-height: 1.2;
    font-size: 28px;
    color: brown;
}
h4{
    line-height: 0.5;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: brown
}

li, p{
    font-size: 20px;
}