body {
    font-size: 20px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}
h1 {
    font-size: 42px;
    color: darkgreen;
}
h2{
    font-size: 28px;
    color: brown;
}

li, p{
    font-size: 20px;
}